@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
:root {
    --color-primary: #E59500;
    
}

html, body {
    background-color: #CDD7D6;
    color: #102542;
    padding: 0px;
    height: 100%;
    font-family: 'Oswald', sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    text-align: center;
   
}

.bg-primary {
    background-color: #F0F4EF !important;
}

.text-primary {
    color: #1A1B41 !important;
}


